<!-- Background image and full screen layout -->
<div class="bg-[url('https://img.freepik.com/free-photo/top-view-workspace-with-copy-space_23-2148236864.jpg?ga=GA1.1.941771206.1745168162&semt=ais_hybrid&w=740')] bg-cover bg-center min-h-screen flex items-center justify-center">
  <!-- Light transparent signup box -->
  <div class="backdrop-blur-md bg-white/20 rounded-xl shadow-lg p-10 w-full max-w-lg mx-4 sm:mx-0">

    <h2 class="text-3xl font-bold text-center text-black mb-8">📓 Create Your Moodiary Account</h2>

    <form class="space-y-6" (ngSubmit)="register()">


      <!-- Name Field -->
      <div>
        <label for="name" class="block text-base font-bold text-black">Name</label>
        <input type="text" [(ngModel)]="name" name="name" id="name" autocomplete="name" required placeholder="Enter Your Name"
               class="mt-2 block w-full rounded-md border border-white/50 bg-white/40 px-4 py-2 text-black placeholder:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>

      <!-- Email Field -->
      <div>
        <label for="email" class="block text-base font-bold text-black">Email address</label>
        <input type="email" [(ngModel)]="email" name="email" id="email" autocomplete="email" required placeholder="Enter Your Email"
               class="mt-2 block w-full rounded-md border border-white/50 bg-white/40 px-4 py-2 text-black placeholder:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>

      <!-- Password Field -->
      <div>
        <label for="password" class="block text-base font-bold text-black">Password</label>
        <input type="password" [(ngModel)]="password" name="password" id="password" autocomplete="current-password" required placeholder="Enter Your Password"
               class="mt-2 block w-full rounded-md border border-white/50 bg-white/40 px-4 py-2 text-black placeholder:text-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-500">
      </div>

      <!-- Register Button -->

      <div>
        <button type="submit" 
                class="w-full rounded-md bg-indigo-600 px-4 py-2 text-white font-semibold hover:bg-indigo-500 transition">
          Register
        </button>
      </div>


      <div class="text-center text-sm text-black">
        Already a member?
        <a href="/login" class="font-semibold hover:underline">Sign in</a>
      </div>
      
     <div class="flex items-center justify-center text-sm">{{error}}</div>

    </form>
  </div>
</div>
